.container {
    width: 650px;
    height: 200px;
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 60px;
    background-color: rgb(125, 61, 145);
    border-radius: 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}